<div id="modal_errors" class="alert alert-danger d-none"><ul></ul></div>

<div class="row">
  <div class="col-sm-6">
    <%= form_with(model: @base_item) do |f| %>
      <div class="form-group">
        <h4 class="block-title mb-0 ml-0"><%= f.label :image, "Image" %></h4>

        <img id="img_prev" src="#" alt="" class="img-preview" />
        <div class="col-sm-12 my-1">
          <%= f.file_field :image, class: "form-control", onChange: "readURL(this);" %>
        </div>
      </div>

      <div class="form-group row my-3">
        <h4><%= f.label :owner, "Asset Owner" %></h4>
        <div class="col-sm-12">
          <%= f.text_area :owner, maxlength: 200, class: "form-control", placeholder: "(Paste your address here)" %>
        </div>
      </div>

      <div class="actions col-sm-12">
        <%= f.submit "Submit",
                     class: "btn btn-primary",
                     id: "submit-btn",
                     autocomplete: "off" %>
      </div>
    <% end %>
  </div>
</div>
