<!DOCTYPE html>
<html>
<head>
  <title>Hogemint</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <meta name="nonce" content="<%= @nonce %>">

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  <%= javascript_pack_tag 'application' %>
</head>

<body>
<div class="container">
  <div class="d-flex">

  <nav class="navbar navbar-expand-sm navbar-dark">
    <a class="navbar-brand nav-logo" href="#"><%= image_tag "hoge-p-500.png" %></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active mx-3">
          <%= link_to "Home", root_url, class: "nav-link" %>
        </li>
        <!--<li class="nav-item mx-3">
          <%= link_to "List", item_index_link, class: "nav-link" %>
        </li>-->
        <li class="nav-item mx-3">
          <%= link_to "FAQ", faq_url, class: "nav-link" %>
        </li>
        <li class="nav-item mx-3">
          <%= link_to "Guide to Printing", guide_url, class: "nav-link" %>
        </li>
        <li class="nav-item mx-3">
          <%= link_to "Help", support_url, class: "nav-link" %>
        </li>
      </ul>
      <!--<form class="form-inline my-2 my-lg-0 clearfix">
        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      </form>-->
    </div>
  </nav>
  </div>

</div>
<hr>
<% if @gas_prices.present? %>
<div class="gas-prices">
  <h3>Ethereum Gas Prices</h3>
  <p>Low: <%= @gas_prices["SafeGasPrice"] %>gwei</p>
  <p>Normal: <%= @gas_prices["ProposeGasPrice"] %>gwei</p>
  <p>High: <%= @gas_prices["FastGasPrice"] %>gwei</p>
</div>
<% end %>
<div class="container">
  <%= yield %>
</div>
</body>
</html>
